@use '../mixins' as *;

details {
    padding-bottom: 0;
    interpolate-size: allow-keywords;
    -webkit-tap-highlight-color: transparent;

    summary {
        $right: 0.5rem;
        padding: 0.5rem;
        padding-right: calc(0.75rem + $right);
        background-color: var(--landsoul-surface);
        cursor: pointer;
        border-radius: var(--landsoul-radius-active);
        position: relative;
        outline-offset: -0.125rem;

        &::marker {
            content: "";
        }

        &::after {
            content: "";
            position: absolute;
            right: $right;
            top: 50%;
            translate: -50% -50%;
            width: 0.3125rem;
            height: 0.3125rem;
            border-right: 0.125rem solid currentColor;
            border-top: 0.125rem solid currentColor;
            transition: rotate 0.1s;
            rotate: 45deg;
        }
    }

    &::details-content {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: height 0.2s, content-visibility 0.2s, opacity 0.2s;
        transition-behavior: allow-discrete;
    }

    &:open {
        summary {
            &::after {
                rotate: 135deg;
            }
        }

        &::details-content {
            height: auto;
            opacity: 1;
        }
    }
}