details {
    padding: 0.5rem 0.5rem 0;
}

summary {
    font-weight: bold;
    margin: -0.5rem -0.5rem 0;
    padding: 0.5rem;
}

details[open] {
    padding: 0.5rem;
    summary {
        margin-bottom: 0.5rem;
    }
}
