@use "../mixins" as *;

[popover],
dialog {
    border: 1px solid var(--landsoul-shadow);
    color: var(--landsoul-text);
    background-color: var(--landsoul-bg);
    border-radius: 2rem;
    padding: 1rem;
    overflow: auto;
    width: min(260px, calc(100vw - 2px));
}
