@use "../mixins" as *;

body {
    font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 14px;
    transition: color var(--landsoul-duration), background-color var(--landsoul-duration), border-color var(--landsoul-duration), outline-color var(--landsoul-duration);
    color: var(--landsoul-text);
    background-color: var(--landsoul-bg);
}

a {
    color: var(--landsoul-accent);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.75rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}

a[href^="#"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--landsoul-text);
        &::before {
            content: "#";
            margin-right: 0.3rem;
            color: var(--landsoul-accent);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    margin: 0;
    padding: 0;
    > small {
        @include bg-radius;
        margin-left: 0.25rem;
        padding: 0 0.25rem;
        font-weight: lighter;
    }
}
