@mixin thumb-common {
    cursor: grab;
    height: 1rem;
    width: 1rem;
    background-color: var(--landsoul-bg);
    border-radius: 50%;
    border: solid 0.2rem var(--landsoul-border);
    transition: transform var(--landsoul-duration);
}

@mixin track-common {
    width: 100%;
    height: 0.15rem;
    background-color: var(--landsoul-surface);
}

input[type="range"] {
    // track
    -webkit-appearance: none; // only for Chrome
    background-color: transparent;
    vertical-align: baseline;
    height: 0.3rem;
    cursor: pointer;
    border-radius: 1rem;

    &::-webkit-slider-runnable-track {
        @include track-common;
        border-radius: 1rem;
    }
    &::-webkit-slider-thumb {
        @include thumb-common;
        -webkit-appearance: none; // only for Chrome
        transform: translateY(-0.4rem) scale(0.8, 0.8);
        &:active {
            transform: translateY(-0.4rem) scale(1, 1);
        }
    }
    &::-moz-range-progress {
        height: 0.1rem;
        background-color: var(--landsoul-accent);
    }
    &::-moz-range-track {
        @include track-common;
    }
    &::-moz-range-thumb {
        @include thumb-common;
        -moz-appearance: none; // only for Firefox
        transform: scale(0.8, 0.8);
        &:active {
            transform: scale(1, 1);
        }
    }
}
