input[type="radio"] {
    --size: 1.25rem;
    appearance: none;
    margin: 0;
    vertical-align: text-bottom;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: var(--size);
    height: var(--size);
    border: solid calc(var(--size) * 0.1) var(--landsoul-surface);
    border-radius: 50%;
    transition: all var(--landsoul-duration);
    opacity: 0.8;
    position: relative;

    &::after {
        content: "";
        opacity: 0;
        clip-path: circle(25%);
        transition:
            opacity var(--landsoul-duration) ease-out,
            clip-path var(--landsoul-duration) ease-out;
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        background: var(--landsoul-accent);
        width: calc(var(--size) * 0.6);
        height: calc(var(--size) * 0.6);
        top: calc(50%);
        left: calc(50%);
        transform: translate(-50%, -50%);
    }

    &:checked {
        &::after {
            opacity: 1;
            clip-path: circle(100%);
        }
    }

    &:hover {
        opacity: 1;
    }

    &:focus-visible {
        outline: solid 0.125rem var(--landsoul-surface-high);
    }
}
