/**
 * --size: The size of the switch and radio
 */
input[type="checkbox"],
input[type="radio"] {
    --size: 1.25rem;
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    appearance: none;
    transition: all var(--landsoul-duration);
    position: relative;
    height: var(--size);
    vertical-align: text-bottom;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}

input[type="checkbox"] {
    width: calc(var(--size) * 1.75);
    background: var(--landsoul-surface);
    border-radius: 1rem;
    &::after {
        content: "";
        display: inline-block;
        border-radius: 50%;
        background: var(--landsoul-bg);
        transition: all 0.4s;
        width: calc(var(--size) * 0.8);
        height: calc(var(--size) * 0.8);
        position: absolute;
        left: calc(var(--size) * 0.1);
        top: calc(var(--size) * 0.1);
    }

    &:checked {
        background: var(--landsoul-accent);
        &::after {
            content: "";
            position: absolute;
            left: 100%;
            transform: translateX(calc(-100% - calc(var(--size) * 0.1)));
        }
    }
}

input[type="radio"] {
    width: var(--size);
    border: solid calc(var(--size) * 0.1) var(--landsoul-surface);
    border-radius: 50%;
    &::after {
        content: "";
        opacity: 0;
        transition: opacity calc(var(--landsoul-duration) * 0.5);
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        background: var(--landsoul-accent);
        width: calc(var(--size) * 0.6);
        height: calc(var(--size) * 0.6);
        top: calc(50%);
        left: calc(50%);
        transform: translate(-50%, -50%);
    }
    &:checked {
        &::after {
            opacity: 1;
        }
    }
}
