@mixin hover-effect {
    &:not([disabled]) {
        transition: filter var(--landsoul-duration);

        &:hover {
            filter: contrast(0.94);
        }
    }
}

button,
select,
input,
textarea {
    color: var(--landsoul-text-on-surface);
    background-color: var(--landsoul-surface);
    -webkit-tap-highlight-color: transparent;
    @include hover-effect;
}

select,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    color: var(--landsoul-text);
}

select,
button,
input:not([type="checkbox"], [type="radio"], [type="range"]),
textarea {

    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: var(--landsoul-radius);

    &:focus-within {
        outline: var(--landsoul-text) solid 0.5px;
        outline-offset: -0.5px;
    }
}

textarea {
    min-height: 2rem;
    min-width: 2rem;
    border: none;
}

[disabled],
input[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

label:not(:has([disabled])) {
    cursor: pointer;
}