@use "../mixins" as *;

button,
select,
input,
textarea {
    color: var(--landsoul-text-on-surface);
    background-color: var(--landsoul-surface);
    -webkit-tap-highlight-color: transparent;
    @include hover-effect;

    &:out-of-range {
        background-color: color-mix(in srgb, var(--landsoul-danger) 10%, var(--landsoul-surface));
    }
}

select,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    &:not(:disabled) {
        cursor: pointer;
    }

    color: var(--landsoul-text);
}

// we do not use [disabled] selector here
// however, be ware that :disabled pseudo-class has lower specificity than tag selector
:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

label:not(:has(:disabled)) {
    cursor: pointer;
}

select,
button,
input:not([type="checkbox"], [type="radio"], [type="range"]),
textarea {
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: var(--landsoul-radius);
    @include outline-focus;
}

textarea {
    min-height: 2rem;
    min-width: 2rem;
    border: none;
}
