@import "../mixins";

button,
select,
input,
textarea {
    @include theme-color(var(--landsoul-shadow));
}

@mixin hover-effect {
    transition: filter var(--landsoul-time);
    &:hover {
        filter: contrast(0.94);
    }
}

select,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    @include hover-effect;
    cursor: pointer;
    background-color: var(--landsoul-color);
    transition: filter var(--landsoul-time);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    border: none;
    border-radius: var(--landsoul-radius);
    padding: 0.3em 0.45em;
}

select,
textarea,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"] {
    @include hover-effect;
    padding: 0.2em 0.3em;
    border-radius: var(--landsoul-radius);
    border: var(--landsoul-shadow) solid 0.01em;
    &:focus {
        outline: none;
        border: var(--landsoul-text) solid 0.01em;
    }
}

textarea {
    min-height: 2rem;
    min-width: 2rem;
}
