@import "../mixins";

hr {
    border: none;
    border-top: solid 0.15em var(--landsoul-color);
}

blockquote {
    border-left: solid 0.25rem var(--landsoul-shadow);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-style: italic;
}

code,
kbd,
pre {
    @include bg-radius;
    font-family: Consolas, monospace;
}

samp {
    font-family: Consolas, monospace;
}

code,
kbd {
    padding: 0.05em 0.2em;
}

pre {
    padding: 0.5em 0.75em;
    box-sizing: border-box;
    max-width: 100%;
    overflow: auto;
}

kbd {
    border: solid 0.1em rgba(0, 0, 0, 0.05);
    border-bottom: solid 0.2em rgba(0, 0, 0, 0.05);
}

iframe,
fieldset {
    border: solid 0.15em var(--landsoul-color);
    border-radius: var(--landsoul-radius);
}
