@use "../mixins" as *;

hr {
    border: none;
    border-top: solid 0.15rem var(--landsoul-border);
}

blockquote {
    border-left: solid 0.25rem var(--landsoul-surface);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-style: italic;
}

code,
kbd,
pre {
    font-family: Consolas, monospace;
    background-color: var(--landsoul-surface);
    border-radius: var(--landsoul-radius);
}

samp {
    font-family: Consolas, monospace;
}

code,
kbd {
    padding: 0.05rem 0.2rem;
}

pre {
    padding: 0.5rem 0.75rem;
    box-sizing: border-box;
    max-width: 100%;
    overflow: auto;
}

kbd {
    border: solid 0.1rem rgba(0, 0, 0, 0.05);
    border-bottom: solid 0.2rem rgba(0, 0, 0, 0.05);
}

iframe,
fieldset {
    border: solid 0.0625rem var(--landsoul-border);
    border-radius: var(--landsoul-radius-active);
}
