figure {
    padding: 0;
    margin: 0;
}
figcaption {
    text-align: center;
    font-size: 0.75rem;
    margin: 0.5rem 0;
}

hr {
    border: none;
    border-top: solid 0.15em var(--landsoul-color);
}

blockquote {
    border-left: solid 0.25rem var(--landsoul-shadow);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-style: italic;
}

code,
kbd,
pre {
    font-family: Consolas, monospace;
}

code,
kbd {
    background-color: var(--landsoul-shadow);
    border-radius: var(--landsoul-radius);
    padding: 0.05em 0.2em;
}

kbd {
    border: solid 0.1em rgba(0, 0, 0, 0.05);
    border-bottom: solid 0.2em rgba(0, 0, 0, 0.05);
}

pre {
    background-color: var(--landsoul-shadow);
    border-radius: var(--landsoul-radius);
    padding: 0.5em 0.75em;
}
