progress {
    --height: 0.5rem;
    height: var(--height);
    line-height: var(--height);
    background-color: var(--landsoul-surface-low); /*IE*/
    color: var(--landsoul-accent); /*IE*/
    overflow: hidden;
    border: none;
    border-radius: var(--height);
    &::-moz-progress-bar {
        background-color: var(--landsoul-accent);
    }
    &::-webkit-progress-bar {
        background-color: var(--landsoul-surface-low);
    }
    &::-webkit-progress-value {
        background-color: var(--landsoul-accent);
    }
}

::-webkit-meter-bar {
    background-color: var(--landsoul-surface-low);
    border: none;
    border-radius: 0.5rem;
}

::-webkit-meter-optimum-value {
    background-color: var(--landsoul-accent);
    border-radius: 0.5rem;
}

::-webkit-meter-suboptimum-value {
    background-color: orange;
    border-radius: 0.5rem;
}

::-webkit-meter-even-less-good-value {
    background-color: var(--landsoul-danger);
    border-radius: 0.5rem;
}
