progress {
    --height: 0.5rem;
    height: var(--height);
    line-height: var(--height);
    background-color: var(--landsoul-surface); /*IE*/
    color: var(--landsoul-accent); /*IE*/
    overflow: hidden;
    border: none;
    border-radius: var(--height);
    &::-moz-progress-bar {
        background-color: var(--landsoul-accent);
    }
    &::-webkit-progress-bar {
        background-color: var(--landsoul-surface);
    }
    &::-webkit-progress-value {
        background-color: var(--landsoul-accent);
    }
}

::-webkit-meter-bar {
    background-color: var(--landsoul-surface);
    border: none;
}
