select {
    color: var(--landsoul-text);
    interpolate-size: allow-keywords;
    transition:
        width var(--landsoul-duration) ease,
        height var(--landsoul-duration) ease;

    &,
    &::picker(select) {
        appearance: base-select;
    }

    &::picker(select) {
        border: solid 0.0625rem var(--landsoul-border);
        box-shadow: var(--landsoul-box-shadow);
        padding: 0.25rem;
        background-color: var(--landsoul-surface);
        border-radius: var(--landsoul-radius-active);
        transition:
            display var(--landsoul-duration) allow-discrete,
            overlay var(--landsoul-duration) allow-discrete,
            transform var(--landsoul-duration) ease-in-out,
            opacity var(--landsoul-duration) ease;
    }

    /* off stage */
    &:not(:open)::picker(select) {
        opacity: 0;
        transform: scale(0.95);
    }
    /* on stage */
    &:open::picker(select) {
        opacity: 1;
    }

    @starting-style {
        &::picker(select):popover-open {
            opacity: 0;
        }
    }

    optgroup {
        font-weight: 500;
        color: rgb(from var(--landsoul-text) r g b / 0.5);
        cursor: default;
    }

    option {
        font-weight: normal;
        color: var(--landsoul-text);
        cursor: pointer;
        padding: 0 1rem 0 0.75rem;
        border-radius: var(--landsoul-radius);
        transition:
            background-color var(--landsoul-duration) ease,
            outline-offset var(--landsoul-duration) ease;
        &:focus-visible {
            outline: 0.125rem solid rgb(from var(--landsoul-accent) r g b / 0.5);
            outline-offset: -0.125rem;
        }
        &:checked {
            color: var(--landsoul-bg);
            background-color: var(--landsoul-accent);
            &::checkmark {
                color: var(--landsoul-bg);
            }
        }

        &:first-child {
            margin-top: 0.25rem;
        }
    }

    &[multiple] {
        option {
            padding: 0.25rem 1.25rem;
            &:not(:first-child) {
                margin-top: 0.0625rem;
            }
        }
    }

    &::picker-icon {
        width: 15px;
        height: 15px;
        display: grid;
        translate: 0 1px;
        background-color: var(--landsoul-text);
        mask-image: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.18179 6.18181C4.35753 6.00608 4.64245 6.00608 4.81819 6.18181L7.49999 8.86362L10.1818 6.18181C10.3575 6.00608 10.6424 6.00608 10.8182 6.18181C10.9939 6.35755 10.9939 6.64247 10.8182 6.81821L7.81819 9.81821C7.73379 9.9026 7.61934 9.95001 7.49999 9.95001C7.38064 9.95001 7.26618 9.9026 7.18179 9.81821L4.18179 6.81821C4.00605 6.64247 4.00605 6.35755 4.18179 6.18181Z" fill="black" fill-rule="evenodd" clip-rule="evenodd"></path></svg>');
        mask-size: contain;
        mask-repeat: no-repeat;
    }

    &:open::picker-icon {
        mask-image: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.18179 8.81819C4.00605 8.64245 4.00605 8.35753 4.18179 8.18179L7.18179 5.18179C7.26618 5.0974 7.38064 5.04999 7.49999 5.04999C7.61933 5.04999 7.73379 5.0974 7.81819 5.18179L10.8182 8.18179C10.9939 8.35753 10.9939 8.64245 10.8182 8.81819C10.6424 8.99392 10.3575 8.99392 10.1818 8.81819L7.49999 6.13638L4.81819 8.81819C4.64245 8.99392 4.35753 8.99392 4.18179 8.81819Z" fill="black" fill-rule="evenodd" clip-rule="evenodd"></path></svg>');
    }
}
