table {
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: var(--landsoul-radius-active);
    caption {
        padding: 0.5rem;
    }
    // sticky header and footer
    thead th,
    tfoot th {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        position: sticky;
        background-color: var(--landsoul-surface-low);
        z-index: 0;
    }

    thead th {
        top: 0;
    }
    tfoot th {
        bottom: 0;
    }

    // sticky first column if there are row headers
    &:has(tbody > tr > th:first-child) {
        th:first-child {
            position: sticky;
            inset-inline-start: 0;
            background-color: var(--landsoul-surface-low);
            z-index: 1;
        }
        // corner cell (first column in header/footer) should be above both
        thead th:first-child,
        tfoot th:first-child {
            z-index: 2;
        }
    }
    tbody {
        white-space: nowrap;
        tr {
            background-color: var(--landsoul-bg);
            // &:hover {
            //     background-color: var(--landsoul-surface-low);
            // }
            // &:nth-child(2n) {
            //     background-color: var(--landsoul-surface);
            // }
        }
    }
    td,
    th {
        padding: 0.25rem 0.5rem;
    }
}

table {
    outline: 0.0625rem solid var(--landsoul-border);
    outline-offset: -0.0625rem;
}

thead, tfoot {
    border-inline: 0.0625rem solid var(--landsoul-border);
}

thead {
    border-top: 0.0625rem solid var(--landsoul-border);
}

th,
td {
    // outline: 0.0625rem solid var(--landsoul-border);
    // outline-offset: -0.0625rem;
    border-bottom: 0.0625rem solid var(--landsoul-border);
}
