.landsoul-carousel {
    overflow: auto hidden;
    scrollbar-width: none;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    // reset in case of ul/ol
    list-style: none;
    margin: 0;
    padding: 0;

    &:not([data-height]) {
        display: flex;
    }

    &[data-height] {
        --height: attr(data-height type(<length> | <percentage>), auto);
        container-type: size scroll-state;
        &,
        & > * {
            height: var(--height);
        }
        columns: 1;
        &::column {
            scroll-snap-align: center;
        }
    }

    & > * {
        box-sizing: border-box;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    anchor-scope: --landsoul-carousel;
    anchor-name: --landsoul-carousel;

    &::scroll-button(*) {
        all: unset;
        position: fixed;
        position-anchor: --landsoul-carousel;
    }

    &::scroll-button(*) {
        cursor: pointer;
        box-sizing: border-box;
        width: 2rem;
        height: 2rem;
        line-height: 0;
        border-radius: 50%;
        text-align: center;
        transition:
            background-color var(--landsoul-duration) ease,
            opacity var(--landsoul-duration) ease;
        color: var(--landsoul-text);
        background-color: var(--landsoul-surface);
        opacity: 0.8;
        backdrop-filter: blur(0.8rem);
    }

    &::scroll-button(*):not(:disabled):hover {
        background-color: var(--landsoul-surface-high);
    }

    &::scroll-button(*):not(:disabled):active {
        background-color: var(--landsoul-surface-high);
        border: var(--landsoul-border) solid 1px;
    }

    &::scroll-button(*):disabled {
        transform: none;
        cursor: not-allowed;
        opacity: 0.333;
    }

    &::scroll-button(left) {
        /* Radix Icons - MIT LICENSE */
        content: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.84182 3.13514C9.04327 3.32401 9.05348 3.64042 8.86462 3.84188L5.43521 7.49991L8.86462 11.1579C9.05348 11.3594 9.04327 11.6758 8.84182 11.8647C8.64036 12.0535 8.32394 12.0433 8.13508 11.8419L4.38508 7.84188C4.20477 7.64955 4.20477 7.35027 4.38508 7.15794L8.13508 3.15794C8.32394 2.95648 8.64036 2.94628 8.84182 3.13514Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>');
        left: calc(anchor(left) + 0.2rem);
        top: anchor(center);
    }

    &::scroll-button(right) {
        /* Radix Icons - MIT LICENSE */
        content: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.1584 3.13508C6.35985 2.94621 6.67627 2.95642 6.86514 3.15788L10.6151 7.15788C10.7954 7.3502 10.7954 7.64949 10.6151 7.84182L6.86514 11.8418C6.67627 12.0433 6.35985 12.0535 6.1584 11.8646C5.95694 11.6757 5.94673 11.3593 6.1356 11.1579L9.565 7.49985L6.1356 3.84182C5.94673 3.64036 5.95694 3.32394 6.1584 3.13508Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>');
        right: calc(anchor(right) + 0.2rem);
        top: anchor(center);
    }

    &:not(:hover)::scroll-button(*) {
        opacity: 0;
    }
}

/* scroll-marker-group */
.landsoul-carousel {
    scroll-marker-group: after;
    scroll-behavior: smooth;

    &:empty::scroll-marker-group {
        display: none;
    }

    &::scroll-marker-group {
        $gap: 0.4rem;
        position: absolute;
        position-anchor: --landsoul-carousel;
        position-area: bottom center;
        transform: translateY(-0.5rem);
        max-inline-size: 33.3%;
        display: grid;
        gap: 0.4rem;
        grid-auto-flow: column;
        background-color: var(--landsoul-surface);
        opacity: 0.8;
        backdrop-filter: blur(0.8rem);
        border-radius: var(--landsoul-radius-active);
        mask: none;
        overflow-x: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        padding: 0.25rem $gap;
        scroll-padding-inline: 50%;
    }

    & > *::scroll-marker {
        content: "";
        box-sizing: border-box;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--landsoul-surface-high);
        transition: background-color var(--landsoul-duration) ease;
    }

    & > *::scroll-marker:not(:target-current):hover {
        filter: brightness(0.9);
    }

    & > *::scroll-marker:not(:target-current):active {
        border: var(--landsoul-border) solid 1px;
    }

    & > *::scroll-marker:target-current {
        background-color: var(--landsoul-accent);
    }
}
