[class*="landsoul-dropdown-"] {
    &[popover] {
        all: unset;
        position: fixed;
        // attr() supports type(<custom-ident>) but not type(<dashed-ident>) yet
        // we may use `position-anchor: attr(id type(<dashed-ident>), none)` in the future
        position-anchor: --landsoul-dropdown;
        margin: 0;
        border: 0;
        overflow: unset;
        opacity: 0;
        box-shadow: var(--landsoul-box-shadow);
        background-color: var(--landsoul-bg);
        border-radius: var(--landsoul-radius);
        padding: 0.25rem;

        &:not(:popover-open) {
            display: none;
        }

        @media (prefers-reduced-motion: no-preference) {
            transition: opacity 120ms cubic-bezier(0.4, 0, 0.2, 1) 75ms, transform 120ms cubic-bezier(0.4, 0, 0.2, 1) 75ms, display 120ms allow-discrete 75ms;
        }

        &:popover-open {
            opacity: 1;

            @media (prefers-reduced-motion: no-preference) {
                transition: opacity 120ms cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 120ms cubic-bezier(0.4, 0, 0.2, 1) 0s, display 120ms allow-discrete 0s;
            }

            @starting-style {
                opacity: 0;
            }
        }
    }
}

// Popover styles
// https://anchor-tool.com/

[class*="landsoul-dropdown-bottom"][popover] {
    position-area: bottom;
    position-try-fallbacks: flip-block;
    transform: translateY(-0.25rem);

    &:popover-open {
        transform: translateY(0);

        @starting-style {
            transform: translateY(-0.25rem);
        }
    }
}

.landsoul-dropdown-bottom-left[popover] {
    position-area: bottom left;
}

.landsoul-dropdown-bottom-span-left[popover] {
    position-area: bottom span-left;
}

.landsoul-dropdown-bottom-right[popover] {
    position-area: bottom right;
}

.landsoul-dropdown-bottom-span-right[popover] {
    position-area: bottom span-right;
}

[class*="landsoul-dropdown-top"][popover] {
    position-area: top;
    position-try-fallbacks: flip-block;

    transform: translateY(0.25rem);

    &:popover-open {
        transform: translateY(0);

        @starting-style {
            transform: translateY(0.25rem);
        }
    }
}

.landsoul-dropdown-top-left[popover] {
    position-area: top left;
}

.landsoul-dropdown-top-span-left[popover] {
    position-area: top span-left;
}

.landsoul-dropdown-top-right[popover] {
    position-area: top right;
}

.landsoul-dropdown-top-span-right[popover] {
    position-area: top span-right;
}

[class*="landsoul-dropdown-left"][popover] {
    position-area: left center;
    position-try-fallbacks: flip-inline;

    transform: translateX(0.25rem);

    &:popover-open {
        transform: translateX(0);

        @starting-style {
            transform: translateX(0.25rem);
        }
    }
}

.landsoul-dropdown-left-top[popover] {
    position-area: left top;
}

.landsoul-dropdown-left-span-top[popover] {
    position-area: left span-top;
}

.landsoul-dropdown-left-span-bottom[popover] {
    position-area: left span-bottom;
}

[class*="landsoul-dropdown-right"][popover] {
    position-area: right center;
    position-try-fallbacks: flip-inline;

    transform: translateX(-0.25rem);

    &:popover-open {
        transform: translateX(0);

        @starting-style {
            transform: translateX(-0.25rem);
        }
    }
}

.landsoul-dropdown-right-top[popover] {
    position-area: right top;
}

.landsoul-dropdown-right-span-top[popover] {
    position-area: right span-top;
}

.landsoul-dropdown-right-span-bottom[popover] {
    position-area: right span-bottom;
}
