:where(ul, ol).landsoul-list {
    list-style: none;
    padding: 0;
    margin: 0;

    hr {
        margin: 0;
        border-width: 1px;
    }
    
    & > li {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: var(--landsoul-radius);

        &:hover {
            background-color: var(--landsoul-surface);
        }

        &:active {
            background-color: var(--landsoul-surface);
            filter: brightness(0.96);
        }

        &.active {
            color: var(--landsoul-bg);
            background-color: var(--landsoul-accent);
        }
    }
}
