:where(ul, ol).landsoul-list {
    list-style: none;
    padding: 0;
    margin: 0;
    user-select: none; // list item act like a button, so disable text selection

    hr {
        margin: 0;
        border-width: 1px;
    }

    & > li {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: var(--landsoul-radius);

        &:hover {
            background-color: var(--landsoul-surface);
        }

        &:active {
            background-color: var(--landsoul-surface-low);
        }

        &[data-state="selected"] {
            color: var(--landsoul-bg);
            background-color: var(--landsoul-accent);
        }
    }
}
