ul.landsoul-list {
    list-style: none;
    padding: 0;
    margin: 0;

    & > :not(hr) {
        padding: 0.5rem 1.5rem;
    }

    hr {
        margin: 0;
        border-width: 1px;
    }

    & > li {
        cursor: pointer;
        border-radius: var(--landsoul-radius);

        &:hover {
            background-color: var(--landsoul-surface);
        }

        &.active {
            color: var(--landsoul-bg);
            background-color: var(--landsoul-accent);
        }
    }
}
