[class*="landsoul-popover-"] {
    &[popover] {
        inset: unset;
        position: fixed;
        // attr() supports type(<custom-ident>) but not type(<dashed-ident>) yet
        // we may use `position-anchor: attr(id type(<dashed-ident>), none)` in the future
        margin: 0;
        border: 0;
        overflow: unset;
        opacity: 0;
        box-shadow: var(--landsoul-box-shadow);
        background-color: var(--landsoul-bg);
        border-radius: var(--landsoul-radius);
        padding: 0.25rem;
        container-type: anchored;

        &:popover-open {
            opacity: 1;

            @media (prefers-reduced-motion: no-preference) {
                transition:
                    opacity 120ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
                    transform 120ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
                    display 120ms allow-discrete 0s;
            }

            @starting-style {
                opacity: 0;
            }
        }
    }
}

// Popover styles
// https://anchor-tool.com/

@mixin popover($position) {
    $block: if($position == top or $position == bottom, true, false); // if not $block, then it is inline
    $transformDir: if($position == top or $position == left, 1, -1);
    $transformAxis: if($position == top or $position == bottom, Y, X);
    $fallback: if($block, flip-block, flip-inline);

    @if $block {
        position-try-fallbacks: flip-block;
        position-area: #{$position};
    } @else {
        position-try-fallbacks: flip-inline;
        position-area: #{$position} center;
    }

    transform: translate#{$transformAxis }(#{$transformDir * 0.25rem});

    &:popover-open {
        transform: translate#{$transformAxis }(0);
        @starting-style {
            transform: translate#{$transformAxis }(#{$transformDir * 0.25rem});
        }
    }

    // Expect when the popover flips, we want to reverse the transform direction for the animation
    // Code below does not work as expected

    // @container anchored(fallback: #{$fallback}) {
    //     transform: translate#{$transformAxis }(#{$transformDir * -0.25rem});
    //     &:popover-open {
    //         @starting-style {
    //             transform: translate#{$transformAxis }(#{$transformDir * -0.25rem});
    //         }
    //     }
    // }
}

[class*="landsoul-popover-bottom"][popover] {
    @include popover(bottom);
}

.landsoul-popover-bottom-left[popover] {
    position-area: bottom left;
}

.landsoul-popover-bottom-span-left[popover] {
    position-area: bottom span-left;
}

.landsoul-popover-bottom-right[popover] {
    position-area: bottom right;
}

.landsoul-popover-bottom-span-right[popover] {
    position-area: bottom span-right;
}

[class*="landsoul-popover-top"][popover] {
    @include popover(top);
}

.landsoul-popover-top-left[popover] {
    position-area: top left;
}

.landsoul-popover-top-span-left[popover] {
    position-area: top span-left;
}

.landsoul-popover-top-right[popover] {
    position-area: top right;
}

.landsoul-popover-top-span-right[popover] {
    position-area: top span-right;
}

[class*="landsoul-popover-left"][popover] {
    @include popover(left);
}

.landsoul-popover-left-top[popover] {
    position-area: left top;
}

.landsoul-popover-left-span-top[popover] {
    position-area: left span-top;
}

.landsoul-popover-left-span-bottom[popover] {
    position-area: left span-bottom;
}

[class*="landsoul-popover-right"][popover] {
    @include popover(right);
}

.landsoul-popover-right-top[popover] {
    position-area: right top;
}

.landsoul-popover-right-span-top[popover] {
    position-area: right span-top;
}

.landsoul-popover-right-span-bottom[popover] {
    position-area: right span-bottom;
}
