@use "../mixins" as *;

.landsoul-spinner {
    @include var-data-attr(--size, "<length>", 1rem);
    @include var-data-attr(--thickness, "<length>", calc(var(--size) * 0.15));
    @include var-data-attr(--duration, "<time>", 1s);

    &::before {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        width: var(--size);
        height: var(--size);
        border: var(--thickness) solid var(--landsoul-border);
        border-top-color: var(--landsoul-on-surface);
        border-radius: 50%;
        animation: landsoul-spin var(--duration) linear infinite;
        vertical-align: text-bottom;
    }

    &:not(:empty)::before {
        margin-right: 0.5rem;
    }
}

@keyframes landsoul-spin {
    to {
        transform: rotate(360deg);
    }
}
