input[type="checkbox"].landsoul-switch {
    --size: 1.25rem;
    all: unset;
    appearance: none;
    width: calc(var(--size) * 1.75);
    height: var(--size);
    background: var(--landsoul-surface);
    transition: background-color var(--landsoul-duration);
    border-radius: 1rem;
    vertical-align: text-bottom;
    position: relative;

    &::after {
        all: unset;
        content: "";
        display: inline-block;
        border-radius: 50%;
        background: var(--landsoul-bg);
        transition: all 0.4s;
        width: calc(var(--size) * 0.8);
        height: calc(var(--size) * 0.8);
        position: absolute;
        left: calc(var(--size) * 0.1);
        top: calc(var(--size) * 0.1);
    }

    &:checked {
        background: var(--landsoul-accent);

        &::after {
            content: "";
            position: absolute;
            left: 100%;
            transform: translateX(calc(-100% - calc(var(--size) * 0.1)));
        }
    }

    &:active {
        &::after {
            width: calc(var(--size) * 0.8 * 1.125);
        }
    }
}
