.landsoul-tabs {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    // no ul/ol reset here, unlike carousel

    & > * {
        flex: 0 0 100%;
        scroll-snap-align: center;
    }

    &::scroll-button(*),
    &::scroll-marker-group {
        -webkit-tap-highlight-color: transparent;
    }

    scroll-marker-group: before;
    scroll-behavior: smooth;

    &::scroll-marker-group {
        display: inline-flex;
        align-items: center;
        min-height: 2rem;
        box-sizing: border-box;
        overflow-x: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        scroll-padding-inline: 66.6%;
    }

    & > *::scroll-marker {
        all: unset;
        content: attr(data-label);
        cursor: pointer;
        box-sizing: border-box;
        height: 1.6rem;
        white-space: nowrap;
        display: grid;
        place-items: center;
        padding: 0 0.75rem;
        transition: background-color calc(var(--landsoul-duration) * 0.5) ease;
        color: color-mix(in srgb, var(--landsoul-text) 50%, var(--landsoul-surface));
        border-radius: var(--landsoul-radius);
    }

    & > *::scroll-marker:not(:target-current):hover {
        background-color: var(--landsoul-surface);
    }

    & > *::scroll-marker:not(:target-current):active {
        background-color: var(--landsoul-surface-low);
    }

    & > *::scroll-marker:target-current {
        background-color: var(--landsoul-accent);
        color: var(--landsoul-inverse-text);
    }
}
