.landsoul-tooltip {
    position: relative;
    contain: layout; // avoid children affecting outside layout
    // we may implement it with anchor position with `position: fixed` to avoid the layout that
    // affecting the outside but still keep the element uncut

    & > &-content,
    &[data-tip]:before {
        position: absolute;
        font-size: 0.875rem;
        line-height: 1.25;
        padding: 0.2rem 0.4rem;
        width: max-content;
        pointer-events: none;
        z-index: 2;
        opacity: 0;
        content: attr(data-tip);
        box-shadow: var(--landsoul-box-shadow);
        border-radius: var(--landsoul-radius);
        background-color: var(--landsoul-bg);
    }

    &:after {
        background-color: var(--landsoul-bg);
        content: "";
        pointer-events: none;
        width: 0.625rem;
        height: 0.25rem;
        display: block;
        position: absolute;
        opacity: 0;
        mask-repeat: no-repeat;
        mask-position: -1px 0;
        mask-image: url("data:image/svg+xml,%3Csvg width='10' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.500009 1C3.5 1 3.00001 4 5.00001 4C7 4 6.5 1 9.5 1C10 1 10 0.499897 10 0H0C-1.99338e-08 0.5 0 1 0.500009 1Z' fill='black'/%3E%3C/svg%3E%0A");
    }

    @media (prefers-reduced-motion: no-preference) {
        & > &-content,
        &[data-tip]:before,
        &:after {
            transition:
                opacity 180ms cubic-bezier(0.4, 0, 0.2, 1) 75ms,
                transform 180ms cubic-bezier(0.4, 0, 0.2, 1) 75ms;
        }
    }

    &:is([data-tip]:not([data-tip=""]), :has(.landsoul-tooltip-content:not(:empty))) {
        &.landsoul-tooltip-open,
        &:hover,
        &:has(:focus-visible) {
            & > .landsoul-tooltip-content,
            &[data-tip]:before,
            &:after {
                opacity: 1;

                @media (prefers-reduced-motion: no-preference) {
                    transition:
                        opacity 180ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
                        transform 180ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
                }
            }
        }
    }
}

.landsoul-tooltip,
.landsoul-tooltip-top {
    > .landsoul-tooltip-content,
    &[data-tip]:before {
        transform: translateX(-50%) translateY(0.25rem);
        inset: auto auto calc(100% + 0.5rem) 50%;
    }

    &:after {
        transform: translateX(-50%) translateY(0.25rem);
        inset: auto auto calc(100% + 0.25rem + 1px) 50%;
    }

    &:is([data-tip]:not([data-tip=""]), :has(.landsoul-tooltip-content:not(:empty))) {
        &.landsoul-tooltip-open,
        &:hover,
        &:has(:focus-visible) {
            > .landsoul-tooltip-content,
            &[data-tip]:before,
            &:after {
                transform: translateX(-50%) translateY(0);
            }
        }
    }
}

.landsoul-tooltip-bottom {
    > .landsoul-tooltip-content,
    &[data-tip]:before {
        transform: translateX(-50%) translateY(-0.25rem);
        inset: calc(100% + 0.5rem) auto auto 50%;
    }

    &:after {
        transform: translateX(-50%) translateY(-0.25rem) rotate(180deg);
        inset: calc(100% + 0.25rem + 1px) auto auto 50%;
    }

    &:is([data-tip]:not([data-tip=""]), :has(.landsoul-tooltip-content:not(:empty))) {
        &.landsoul-tooltip-open,
        &:hover,
        &:has(:focus-visible) {
            > .landsoul-tooltip-content,
            &[data-tip]:before {
                transform: translateX(-50%) translateY(0);
            }

            &:after {
                transform: translateX(-50%) translateY(0) rotate(180deg);
            }
        }
    }
}

.landsoul-tooltip-left {
    > .landsoul-tooltip-content,
    &[data-tip]:before {
        transform: translateX(0) translateY(-50%);
        inset: 50% calc(100% + 0.5rem) auto auto;
    }

    &:after {
        transform: translateX(0.25rem) translateY(-50%) rotate(-90deg);
        inset: 50% calc(100% + 0.25rem + 1px) auto auto;
    }

    &:is([data-tip]:not([data-tip=""]), :has(.landsoul-tooltip-content:not(:empty))) {
        &.landsoul-tooltip-open,
        &:hover,
        &:has(:focus-visible) {
            > .landsoul-tooltip-content,
            &[data-tip]:before {
                transform: translateX(-0.25rem) translateY(-50%);
            }

            &:after {
                transform: translateX(0) translateY(-50%) rotate(-90deg);
            }
        }
    }
}

.landsoul-tooltip-right {
    > .landsoul-tooltip-content,
    &[data-tip]:before {
        transform: translateX(0) translateY(-50%);
        inset: 50% auto auto calc(100% + 0.5rem);
    }

    &:after {
        transform: translateX(-0.25rem) translateY(-50%) rotate(90deg);
        inset: 50% auto auto calc(100% + 0.25rem + 1px);
    }

    &:is([data-tip]:not([data-tip=""]), :has(.landsoul-tooltip-content:not(:empty))) {
        &.landsoul-tooltip-open,
        &:hover,
        &:has(:focus-visible) {
            > .landsoul-tooltip-content,
            &[data-tip]:before {
                transform: translateX(0.25rem) translateY(-50%);
            }
            &:after {
                transform: translateX(0) translateY(-50%) rotate(90deg);
            }
        }
    }
}
