$global-black: #121212;
$global-white: #f8f8f8;
$origin: #efefef;
$black: #000;
$white: #fff;
$grey: #9ca3af;
$grey-t: rgba(156, 163, 175, 0.7);
$grey-x: #999999;
$link: #4f46e4;
$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);
$code-text: #f8f8f8;
$code-bg: #d63200;
