$global-black: #121212;
$global-white: #f8f8f8;
$origin: #efefef;
$black: #000;
$black-t: #303030;
$white: #fff;
$grey-m: #e6e9f0;
$grey: #9ca3af;
$grey-t: rgba(156, 163, 175, 0.5);
$grey-tt: #797979;
$grey-x: #999999;
$link: #4f46e4;
$shadow-t: rgba(103, 103, 103, 0.075);
$shadow-tt: rgba(232, 232, 232, 0.85);
$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);
$shadow-3: rgba(0, 0, 0, 0.3);
$shadow-4: rgba(0, 0, 0, 0.4);
$card-1: rgba(66, 66, 66, 0.1);
$card-2: rgba(166, 166, 166, 0.1);
$shadow: #1d1d1f99;
$code-text: #f8f8f8;
$code-bg: #d63200;
