@import "colors";

/* 大萤幕 */
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    > .jumbotron-title {
        color: $global-black;
        font-size: 4rem;
        word-wrap: break-word;
        line-height: 0.85em;
        letter-spacing: 1px;
        font-weight: 500;
    }

    > .jumbotron-content {
        margin-top: 0.75em;
        color: $grey;
    }
}
/* 卡片 */
@mixin card-mixin($blur: 1px, $spread: 0) {
    background-color: $white;
    box-shadow: 1px 1px $blur $spread $card-1, -1px -1px $blur $spread $card-2;
    border-radius: 5px;
    overflow: auto;
}

.card-media {
    @include card-mixin();
    * {
        max-width: 100%;
    }
}

.card {
    @include card-mixin();
    padding: 0.5rem;
}

/* 容器 */
.container {
    padding: 0 0.25rem;
}
@media screen and (min-width: 40rem) {
    .container {
        padding: 0 1rem;
    }
}

.container {
    margin: auto;
    max-width: 68rem;
}
/* 勋章 */
.badge {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    padding: 0.25em 0.5em;
    border-radius: 2em;
    background-color: lightblue;
    max-height: 1.5em;
    word-break: keep-all;
    // overflow: hidden;
}
/* 列表组 */
.list-group {
    margin: 1px 0;
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    @include card-mixin();
}
.list-group-item {
    display: block;
    color: inherit;
    padding: 0.35em;
    border-bottom: solid 1px $shadow-tt;
    word-break: break-all;
    text-overflow: ellipsis;
    transition: all 0.4s;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        text-decoration: none;
        background-color: $shadow-1;
    }
}

.footer {
    margin-top: 1rem;
    padding: 1.25rem 0;
    background-color: $shadow-1;
    font-size: small;
    text-align: center;
}
/* 顶部导航 */
.nav-bar {
    $height: 3rem;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Serif SC", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $black-t;
    background-color: $shadow-t;
    backdrop-filter: saturate(180%) blur(0.3em); // not supported by firefox
    box-shadow: 0 1px 1px $shadow-1;
    line-height: $height;
    padding-left: 3rem;
    padding-right: 3rem;
    > .nav-title {
        font-size: 1.5rem;
    }
    // 隐藏按钮（单选框）
    > .nav-toggle,
    > label[for="nav-toggle"] {
        display: none;
    }
    > .nav-list {
        margin: 0;
        > li {
            display: inline-block;
            list-style: none;
            > a {
                color: $black-t;
                text-decoration: none;
                border-radius: 0.3rem;
                padding: 0.75rem;
                transition: 0.4s;
                &:hover {
                    background-color: $shadow-1;
                }
            }
        }
    }
}

@media screen and (max-width: 48rem) {
    $height: 2.75rem;
    .nav-bar {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        height: $height;
        line-height: $height;
        > .nav-title {
            font-weight: normal;
            padding-left: 0.5rem;
        }
        > .nav-toggle {
            line-height: $height;
            > .nav-icon {
                display: inline-block;
            }
        }
        > label[for="nav-toggle"] {
            margin-left: 50%; // make it compatible with IE11
            display: block;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }
        > input#nav-toggle:checked ~ .nav-list {
            // click to show
            max-height: 40vh; // keep in mind that this height should fit content!!!
        }

        > .nav-list {
            // transition here
            max-height: 0;
            box-shadow: 0 1px 2px $shadow-2;
            // end
            padding-left: 0;
            margin-right: calc(100% - 100vw);
            transition: max-height 0.75s;
            overflow-y: hidden;
            width: 100%;
            position: fixed;
            top: $height;
            left: 0;
            text-align: center;
            background-color: $shadow-t;
            border-radius: 0 0 0.6rem 0.6rem;
            > li {
                background-color: $shadow-tt;
                display: block;
                line-height: 1.25rem;
                > a {
                    display: block;
                    color: $grey-tt;
                    font-size: smaller;
                }
            }
        }
    }
}
/* 按钮组 */
.button-group {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px $shadow-2;
    > button {
        box-shadow: none;
    }
    > button:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    > button:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    > button:not(:last-child, :first-child) {
        border-radius: 0;
    }
}
/* 下拉菜单 */
.dropdown {
    position: relative;
    > button {
        cursor: auto;
    }
    label {
        cursor: pointer;
    }
    > input[type="checkbox"] {
        display: none;
    }
    > input[type="checkbox"] ~ .dropdown-content {
        display: none;
        z-index: 1;
        user-select: none;
    }
    > input[type="checkbox"]:checked ~ .dropdown-content {
        display: block;
        position: absolute;
        top: 1.85rem;
        left: 0;
    }
}

/* 遮罩 */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $shadow-3;
    backdrop-filter: blur(0.1em);
}
/* 气泡对话 */
.chat-content {
    background: $grey-t;
    word-break: break-all;
    word-wrap: break-word;
    text-align: left;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0.55rem;
    line-height: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.chat-right {
    max-width: 100%;
    > .chat-content {
        float: right;
        transform: translateX(-0.25rem);
        &::after {
            content: "";
            right: -0.85rem;
            top: 0.5rem;
            border-left: 0.85rem solid $grey-t;
            position: absolute;
            border-bottom: 0.5rem solid transparent;
        }
    }
    > .chat-avatar {
        float: right;
    }
    > .chat-name {
        padding-right: 2.75rem;
        text-align: right;
    }
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.chat-left {
    max-width: 100%;
    .chat-content {
        &::before {
            content: "";
            left: -0.85rem;
            top: 0.5rem;
            border-right: 0.85rem solid $grey-t;
            position: absolute;
            border-bottom: 0.5rem solid transparent;
        }
    }
    > .chat-name {
        padding-left: 2.5rem;
        text-align: left;
    }
}

.chat-name {
    display: block;
    transform: translateY(0.5em);
    font-size: 0.7rem;
    line-height: 0.7rem;
    color: $grey-tt;
}

.chat-avatar {
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

/* 轮播 */
.carousel {
    position: relative;
    width: 16 * 2rem;
    height: 9 * 2rem;
    overflow: hidden;
    [type="radio"] {
        display: none;
    }
    > .carousel-item {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
    }
    > .carousel-controller {
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, -5%);
        display: flex;
        flex-flow: row nowrap;
        // gap: 0.35rem;
        > label {
            cursor: pointer;
            width: 0.5rem;
            height: 0.5rem;
            border: solid 1px $grey-tt;
            border-radius: 50%;
            background-color: $global-white;
            margin: 0 0.2rem;
        }
    }
}

@for $i from 1 through 6 {
    // NOTICE: edit this to change the maximum cacibility
    .carousel-item:nth-of-type(#{$i}) {
        left: 100% * ($i - 1);
    }
    .carousel input[type="radio"]:nth-of-type(#{$i}):checked {
        & ~ .carousel-item {
            transform: translateX(-100% * ($i - 1));
        }
        & ~ .carousel-controller > label:nth-of-type(#{$i}) {
            background-color: $grey-tt;
        }
    }
}
