@import "colors";

.jumbotron {
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 400px;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    > .jumbotron-title {
        color: $global-black;
        font-size: 4rem;
        word-wrap: break-word;
        line-height: 0.85em;
        letter-spacing: 1px;
        font-weight: 500;
    }

    > .jumbotron-content {
        margin-top: 0.75em;
        color: $grey;
    }
}

.card {
    background-color: $white;
    box-shadow: 0 1px 1px $shadow-2, 0 -1px 1px $shadow-1;
    border-radius: 6px;
    width: 100%;
    padding: 0.75rem;
    margin: 0.25rem;
    overflow: auto;
    * {
        max-width: 100%;
    }
}

@media screen and (max-width: 64em) {
    .container {
        padding: 0.25rem;
    }
}
.container {
    max-width: 1024px;
    margin: auto;
}

.badge {
    display: inline;
    font-size: smaller;
    padding: 0.25em 0.5em;
    border-radius: 2em;
    background-color: lightblue;
    max-height: 1.85em;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.list-group {
    list-style-type: none;
    padding-left: 0;
    border-radius: 0.75em;
    border: solid 1px $grey;
    overflow: hidden;
}
.list-group-item {
    padding: 0.5em 0.55em;
    border-bottom: solid 1px $grey;
    word-break: break-all;
    text-overflow: ellipsis;
    transition: all 0.4s;
    &:last-child {
        border-bottom: none;
    }
    &:hover {
        background-color: $shadow-1;
    }
}

.footer {
    margin-top: 1rem;
    padding: 1.25rem 0;
    background-color: $shadow-1;
    font-size: small;
    text-align: center;
}
.nav-bar {
    $height: 3rem;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Noto Serif SC", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $black-t;
    background-color: $shadow-t;
    backdrop-filter: saturate(180%) blur(0.3em);
    box-shadow: 0 1px 1px $shadow-1;
    line-height: $height;
    padding-left: 3rem;
    padding-right: 3rem;
    .nav-title {
        font-size: 1.5rem;
    }
    // 隐藏按钮（单选框）
    .nav-toggle,
    label[for="nav-toggle"] {
        display: none;
    }
    .nav-list {
        margin: 0;
        > li {
            display: inline-block;
            list-style: none;
            > a {
                color: $black-t;
                text-decoration: none;
                border-radius: 0.3rem;
                padding: 0.75rem;
                transition: 0.4s;
                &:hover {
                    background-color: $shadow-1;
                }
            }
        }
    }
}

@media screen and (max-width: 64rem) {
    $height: 2.75rem;
    .nav-bar {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        height: $height;
        line-height: $height;
        .nav-toggle {
            line-height: $height;
        }
        .nav-title {
            font-weight: normal;
            padding-left: 0.5rem;
        }
        .nav-list {
            // transition here
            max-height: 0;
            box-shadow: 0 1px 2px $shadow-2;
            overflow-y: hidden;
            transition: max-height 0.7s;
            position: fixed;
            padding: 0;
            text-align: center;
            width: 100%;
            top: $height;
            background-color: $shadow-t;
            border-radius: 0 0 0.6rem 0.6rem;
            li {
                background-color: $shadow-tt;
                display: block;
                line-height: 1.25rem;
                a {
                    display: block;
                    color: $grey-tt;
                    font-size: 80%;
                }
            }
        }
        label[for="nav-toggle"] {
            display: block;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
        }
        .nav-icon {
            display: block;
        }
        input#nav-toggle:checked ~ .nav-list {
            // click to show
            max-height: 40vh; // keep in mind that this height should fit content!!!
        }
    }
}
