@mixin var-light-dark($property: string, $light, $dark) {
    @if str-index($property, "--") != 1 {
        @error 'var-light-dark expects $property to start with "--" (e.g., --landsoul-accent).';
    }

    #{$property}: $light;

    @supports (color: light-dark(white, black)) {
        #{$property}: light-dark($light, $dark);
    }

    &[data-theme="dark"] {
        #{$property}: $dark;
    }

    // @media screen and (prefers-color-scheme: dark) {
    //     #{$property}: $dark;
    // }
}

@mixin var-data-attr($property: string, $type: string, $default: null) {
    @if str-index($property, "--") != 1 {
        @error 'var-data-attr expects $attr to start with "--" (e.g., --size).';
    }

    $attr: if(str-index($property, "--") == 1, str-slice($property, 3), $property);
    #{$property}: #{$default};
    &[data-#{$attr}] {
        #{$property}: attr(data-#{$attr} type(#{$type}), #{$default});
    }
}

@mixin hover-effect {
    &:not([disabled]) {
        transition: filter var(--landsoul-duration);

        &:hover {
            filter: contrast(0.94);
        }
    }
}

@mixin outline-focus($thickness: 0.0625rem, $color: var(--landsoul-text)) {
    outline-offset: 0;
    transition: outline-offset var(--landsoul-duration) ease;

    &:focus-within {
        outline: $color solid $thickness;
        outline-offset: -$thickness;
    }
}
