@mixin var-light-dark($property, $light, $dark) {
    #{$property}: $light;

    @supports (color: light-dark(white, black)) {
        #{$property}: light-dark($light, $dark);
    }

    &[data-theme="dark"] {
        #{$property}: $dark;
    }

    // @media screen and (prefers-color-scheme: dark) {
    //     #{$property}: $dark;
    // }
}