@mixin theme-color($bg: var(--landsoul-bg)) {
    color: var(--landsoul-text);
    background-color: $bg;
}

@mixin bg-radius($bg: var(--landsoul-shadow), $radius: var(--landsoul-radius)) {
    background-color: $bg;
    border-radius: $radius;
}
