@mixin var-light-dark($property, $light, $dark) {
    #{$property}: $light;

    @supports (color: light-dark(white, black)) {
        #{$property}: light-dark($light, $dark);
    }

    &[data-theme="dark"] {
        #{$property}: $dark;
    }

    // @media screen and (prefers-color-scheme: dark) {
    //     #{$property}: $dark;
    // }
}

@mixin hover-effect {
    &:not([disabled]) {
        transition: filter var(--landsoul-duration);

        &:hover {
            filter: contrast(0.94);
        }
    }
}

@mixin outline-focus($thickness: 0.0625rem, $color: var(--landsoul-text)) {
    outline-offset: 0;
    transition: outline-offset var(--landsoul-duration) ease;

    &:focus-within {
        outline: $color solid $thickness;
        outline-offset: -$thickness;
    }
}