@import "colors";

* {
    box-sizing: border-box;
}

body {
    font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue",
        "PingFang SC", "Microsoft YaHei", "Source Han Sans SC",
        "Noto Sans CJK SC", "WenQuanYi Micro Hei", "sans-serif";
    font-size: 16px;
    color: $global-black;
    background-color: $global-white;
}
a {
    text-decoration: none;
    color: $link;
    &:hover {
        text-decoration: underline;
    }
}

input,
button,
textarea {
    border: none;
    border-radius: 0.35rem;
    height: 2rem;
    box-shadow: 0 0 2px $shadow-2;
    &:focus {
        outline: none;
    }
}
input,
textarea {
    padding: 0.5rem;
    height: 2.25rem - 0.2rem;
    border-bottom: solid $origin 0.2rem;
    transition: border 0.2s;
    &:focus {
        border-bottom: solid $grey-x 0.2rem;
    }
}
textarea {
    display: block;
    max-width: 100%;
    min-height: 3rem;
}
button {
    cursor: pointer;
    padding: 0 0.75rem;
    transition: 0.3s;
    &:hover {
        opacity: 0.75;
    }
    &:active {
        box-shadow: inset 0 0 0.1rem $grey;
    }
}

input[type="checkbox"] {
    width: 1.25rem;
}
input[type="file"] {
    border: none;
}

code {
    padding: 0 0.3em;
    border-radius: 0.25em;
    background-color: $code-text;
    color: $code-bg;
}
pre,
code {
    font-family: Consolas;
}
hr {
    border: none;
    border-top: 2px solid $shadow-1;
    overflow: visible;
    border-radius: 2px;
    padding: 0 1px;
}

hr::after {
    content: "∞";
    color: $shadow-2;
    position: relative;
    left: 50%;
    top: -13px;
}

details {
    transition: all 0.5s;
    transform: translateY(-2px);
}
details[open] {
    transform: translateY(2px);
}

table {
    border-collapse: collapse;
    border-radius: 0.5em;
    background-color: $shadow-1;
}

thead {
    color: $global-white;
    background-color: $grey-x;
}
tbody tr {
    transition: background-color 0.5s;
    &:nth-child(2n) {
        background-color: $shadow-1;
    }
    &:hover {
        background-color: $shadow-2;
    }
}

th,
td {
    padding: 0.4em 1.1em;
}
