@import "colors";
@import "custom";
* {
    box-sizing: border-box;
}

html {
    font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC",
        "WenQuanYi Micro Hei", "sans-serif";
    font-size: 16px;
    color: $global-black;
    background-color: $global-white;
}

a {
    text-decoration: none;
    color: $link;
    &:hover {
        text-decoration: underline;
    }
}

fieldset {
    @include card-mixin();
    border: none;
}

select,
input,
button,
textarea {
    border: none;
    border-radius: 0.3rem;
    &:focus {
        outline: none;
    }
}

select {
    cursor: pointer;
}

[disabled] {
    cursor: not-allowed;
    opacity: 0.8;
}

select,
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"] {
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0.15rem 0.1rem;
    border: solid 0.1rem $grey;
}
input[type="file"] {
    font-size: 0.75rem;
}

select {
    height: 2rem;
    padding: 0 0.5rem;
}

option {
    text-indent: 0.8rem;
    font-size: 1rem;
}

textarea,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"] {
    padding: 0.5rem;
    border-bottom: solid $origin 0.2rem;
    transition: border 0.2s;
    box-shadow: 0 0 2px $shadow-2;
    &:focus {
        border-bottom: solid $grey-x 0.2rem;
    }
}

textarea {
    display: block;
    max-width: 100%;
    min-height: 2.5rem;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    line-height: 2rem;
    display: inline-block;
    font-weight: bolder;
    padding: 0 0.75rem;
    transition: 0.3s;
    &:hover {
        opacity: 0.75;
    }
    &:active {
        box-shadow: inset 0 0 0.1rem $grey;
    }
}

input[type="checkbox"],
input[type="radio"] {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    appearance: none;
    position: relative;
    height: 1rem;
    cursor: pointer;
    &:hover {
        opacity: 0.75;
    }
}
input[type="checkbox"] {
    width: 1.75rem;
    background: $grey;
    border-radius: 1rem;
    transition: all 0.3s;
    &::after {
        content: "";
        display: inline-block;
        border-radius: 50%;
        background: $white;
        transition: all 0.4s;
        width: 0.9rem;
        height: 0.9rem;
        position: absolute;
        left: 0.05rem;
        top: 0.05rem;
    }

    &:checked {
        background: $link;
        &::after {
            content: "";
            position: absolute;
            left: 100%;
            transform: translateX(calc(-100% - 0.05rem));
        }
    }
}

input[type="radio"] {
    width: 1rem;
    border-radius: 50%;
    text-align: center;
    border: 0.1rem solid $grey;
    &:checked {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        opacity: 0;
        transition: opacity 0.2s;
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        background: $link;
        width: 0.6rem;
        height: 0.6rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

input[type="range"] {
    // track
    -webkit-appearance: none; // only for chrome
    height: 1rem;
    cursor: pointer;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    &::-moz-range-progress {
        height: 0.1rem;
        background-color: $link;
    }
    &::-moz-range-track {
        width: 100%;
        height: 0.15rem;
        background-color: $grey;
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 0.15rem;
        background-color: $grey;
        border-radius: 1rem;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none; // only for chrome
        cursor: grab;
        height: 1rem;
        width: 1rem;
        background-color: $white;
        border-radius: 50%;
        border: solid $grey 0.1rem;
        transition: transform 0.2s;
        transform: translateY(-0.4rem) scale(0.8, 0.8);
        &:active {
            transform: translateY(-0.4rem) scale(1, 1);
        }
    }
    &::-moz-range-thumb {
        -moz-appearance: none; // only for firefox
        cursor: grab;
        height: 1rem;
        width: 1rem;
        background-color: $white;
        border-radius: 50%;
        border: solid $grey 0.1rem;
        transition: transform 0.2s;
        transform: scale(0.8, 0.8);
        &:active {
            transform: scale(1, 1);
        }
    }
}

figure {
    padding: 0;
    margin: 0;
}
figcaption {
    font-size: 0.75rem;
    text-align: center;
    margin: 0.5rem 0;
}

blockquote {
    border-left: solid $grey 0.25rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    font-style: italic;
}

code,
kbd,
mark,
pre {
    padding: 0.1em 0.3em;
    border-radius: 0.3em;
    overflow: auto;
    font-family: Consolas;
    background-color: $code-text;
}
mark {
    background-color: yellow;
}
code {
    color: $code-bg;
}
kbd {
    border-bottom: solid $shadow-2 0.1em;
    &:hover {
        border-bottom: solid $shadow-3 0.1em;
    }
}

hr {
    margin: 0 0 0.5rem 0;
    background: inherit;
    border: none;
    border-top: 1px solid $shadow-1;
}

details {
    @include card-mixin();
    padding: 0.5rem;
    transition: transform 0.5s;
    transform: translateY(-2px);
}
details[open] {
    transform: translateY(2px);
}

table {
    border-collapse: collapse;
}

thead {
    color: $global-black;
    opacity: 0.9;
    background-color: $origin;
    font-weight: bolder;
    th {
        font-weight: normal;
    }
}
tbody tr {
    transition: background-color 0.5s;
    background-color: $global-white;
    &:nth-child(2n) {
        background-color: $origin;
    }
    transition: 0.5s;
    &:hover {
        opacity: 0.7;
    }
}

td,
th {
    border: solid $shadow-tt 1px;
    padding: 0.25em 0.5em;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.75rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
a[href^="#"] {
    color: inherit;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        &::before {
            content: "#";
            margin-right: 0.3rem;
            color: $link;
        }
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    margin: 0;
    padding: 0;
    > small {
        color: $grey;
        margin-left: 0.25rem;
        font-weight: lighter;
    }
}

progress {
    @include card-mixin();
    height: 0.5rem;
    line-height: 0.5rem;
    background-color: $global-white; /*IE*/
    color: $link; /*IE*/
    overflow: hidden;
    border: none;
    border-radius: 0.5rem;
    &::-moz-progress-bar {
        background-color: $link;
    }
    &::-webkit-progress-bar {
        background-color: $global-white;
    }
    &::-webkit-progress-value {
        background-color: $link;
    }
}

dialog {
    all: unset;
    @include card-mixin(2px, 1px);
    position: fixed;
    z-index: 2;
    padding: 0.5rem 1rem;
    width: 85%;
    top: 50%;
    left: 50%;
    max-height: 90%;
    transform: translate(-50%, -50%);
    border: none;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s;
}
dialog[open] {
    opacity: 1;
}

@media screen and (min-width: 64rem) {
    dialog {
        width: 64rem;
    }
}
