@import "colors";

html,
body {
    margin: 0;
    padding: 0;
}

html {
    // for IE
    scrollbar-face-color: $grey-m;
    scrollbar-arrow-color: $grey-m;
    scrollbar-shadow-color: $white;
    scrollbar-track-color: $white;
}

a {
    // for IE
    background-color: transparent;
}

progress {
    // for chrome
    vertical-align: baseline;
}

main {
    display: block;
}

::-webkit-scrollbar {
    width: 1rem;
}

@media screen and (max-width: 64rem) {
    ::-webkit-scrollbar {
        width: 0.5rem;
    }
}

::-webkit-scrollbar-track {
    background-color: $global-white;
}

::-webkit-scrollbar-thumb {
    background-color: $shadow-1;
    &:hover {
        background-color: $shadow-2;
    }
}
