@import "colors";
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* Recommand that using flex to place something to the right */
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear {
    clear: both;
}
/* So avoid use float */

.space-between {
    display: flex;
    justify-content: space-between;
}

.max-100 {
    max-width: 100%;
}

.rounded {
    border-radius: 0.25em;
}

.circle {
    border-radius: 50%;
}

.text-grey {
    color: $grey;
}
.text-red {
    color: $code-bg;
}
.text-white {
    color: $global-white;
}
.text-black {
    color: $global-black;
}
